/* --- APPLIES TO ALL / REUSABLE --- */

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.section-headline {
    color: #4e4d4d;
    text-align: center;
    font-size: 50px;
    font-weight: 300;
}

section {
    padding: 70px;
}


.line {
    height: 2px;
    width: 80px;
    background-color: lightgray;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 60px;
}

.row {
    width: 80%;
    margin: 0 auto;
    overflow: auto;
}

.one-of-two {
    width: 50%;
    float: left;
}

.one-of-three {
    width: 33.33%;
    float: left;
}

.one-of-four {
	width: 25%;
	float: left;
}

.two-of-three {
	width: 66.66%;
	float: left;
}

.three-of-four {
	width: 75%;
	float: left;
}


/* --- HEADER --- */

#header {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/city1.jpg);
	background-attachment: fixed;
    height: 100vh;
    background-position: center;
    background-size: cover;
    color: white;
    position: relative;
}

#header .dots {
    background-image: url(../img/pattern-bg.png);
    height: 100%;
}

#header .headline-container a:hover {
	background-color: #24e098;
	transition: background-color 1s;
	
}

#header nav {
    position: relative;
    padding: 20px 10px;
}

#header nav ul {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    list-style: none;
}

#header nav li {
    float: left;
    margin: 0 15px;
}

#header nav img {
    width: 200px;
}

#header nav a {
    color: white;
    text-decoration: none;
    font-weight: 300;
}

#header .headline-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#header .headline-container h1 {
    font-size: 60px;
    font-weight: 400;
}

#header .headline-container h2 {
    font-size: 45px;
    font-weight: 300;
    margin-bottom: 45px;
}

#header .headline-container a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    font-size: 25px;
    font-weight: 300;
    padding: 5px 15px;
}

#header i {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 50px;
    color: bisque;
}

/* --- STEPS --- */

#steps img {
    float: right;
}

#steps .circle {
    border: 1px solid lightgray;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: relative;
    float: left;
}

#steps .circle p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: gray;
    font-weight: 300;
}

#steps .steps-container {
    overflow: auto;
    margin-bottom: 70px;
    margin-left: 50px;
}

#steps .steps-container h2 {
    font-size: 25px;
}

#steps .steps-description {
    font-weight: 300;
}

/* --- BENEFITS --- */

#benefits {
    text-align: center;
    background-color: #f4f4f4;
}

#benefits i {
    color: #4e4d4d;
    font-size: 45px;
}

#benefits h3 {
    color: #11939a;
    font-size: 30px;
}

#benefits p {
    font-weight: 300;
    font-size: 16px;
}

#benefits img {
    border-bottom: 1px solid lightgray;
    margin-top: 100px;
    width: 80%;
}

#benefits h4 {
    margin: 20px 0;
    font-size: 30px;
    color: #11939a;
}

#benefits a {
    background-color: #ff9f37;
    color: white;
    font-weight: 700;
    text-decoration: none;
    padding: 25px;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    width: 300px;
}

/*--STATS--*/
#stats {
	background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/city2.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	text-align: center;
	padding-top: 150px;
	padding-bottom: 150px;
}

#stats i {
	color: #549dc5;
	font-size: 50px;
}

#stats h3, #stats p {
	color: white;
}

#stats p {
	font-size: 85px;
	font-weight: 700;
}

#stats h3 {
	font-size: 25px;
	font-weight: 300;
}

/*--PRICING--*/
#pricing {
	background-color: rgb(244, 244, 244);
}

#pricing ul {
	border: 1px solid lightgray;
	text-align: center;
	width: 250px;
	margin: 0 auto;
	padding: 0 60px;
	
}

#pricing li {
	border-bottom: 1px solid lightgray;
	list-style: none;
	color: #4e4d4d;
	font-size: 20px;
	font-weight: 300;
	padding: 15px 0px;
}

#pricing .no-bottom-border {
	border-bottom: none;
}

#pricing .plan-name {
	color: #4e4d4d;
	font-size: 20px;
	padding-bottom: 0px;
	border-bottom: 0px;
	
}

#pricing .plan-price {
	color: #549dc5;
	font-size: 35px;
	font-weight: 300;
	padding-top: 0;
}

#pricing a {
	background-color: #468eb5;
	padding: 10px 30px;
	color: white;
	font-weight: 400;
	text-decoration: none;
	border-bottom: none;
}


/*--TEAM--*/
#team {
	text-align: center;
	
	
}

#team h3 {
	font-size: 25px;
	margin-top: 10px;
	
}

#team p {
	margin: 10px 0;
}

#team i {
	font-size: 30px;
	color: #383838;
}

/*--REQUEST--*/
#request {
	background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/driving1.jpg);
	background-size: cover;
	background-position: center;
	color: white;
}

#request h2 {
	color: white;
}

#request .one-of-three {
	text-align: right;
	padding: 6px;
	box-sizing: border-box;
}

#request input[type="text"] {
	width: 50%;
	height: 30px;
}

#request input[type="submit"] {
	text-decoration: none;
	background-color: #468eb5;
	color: white;
	padding: 10px 30px;
	font-weight: 400;
	border: 0;
	font-size: 18px;
}
#request .row {
	margin-top: 10px;
	margin-bottom: 10px;
}

/*--FOOTER--*/
#footer {
	background-color: #292e37;
	padding: 30px 0;
	
}

#footer a {
	text-decoration: none;
	color: white;
	font-weight: 300;
}
#footer li {
	list-style: none;
	float: left;
	padding: 0 20px;
	
}
#footer p {
	text-align: center;
	color: lightgray;
	margin-top: 20px;
	font-weight: 300;
}

#footer i {
	font-size: 20px;
	color: white;
}


/*-----------------*/
/*--MEDIA QUERIES--*/
/*-----------------*/

/*--HEADER--*/
@media only screen and (max-width: 470px) {
	
	#header .headline-container h1 {
		font-size: 40px;
	}
	#header .headline-container h2 {
		font-size: 25px;
	}
	#header .headline-container a {
		font-size: 20px;
	}
	
	
}

/*--STEPS--*/
@media only screen and (max-width: 1200px) {
	
	#steps .one-of-two {
		width: 100%;
	}
	#steps .one-of-two img {
		float: none;
	}
	#steps .iphone {
		text-align: center;
		margin-bottom: 50px;
	}
	
}
@media only screen and (max-width: 550px) {
	
	#steps .circle {
		float: none;
		margin: 0 auto;
	}
	#steps .steps-container {
		text-align: center;
		margin-left: 0;
	}
	#steps .one-of-two img {
		width: 70%;
	}
	
}

/*--BENEFITS--*/
@media only screen and (max-width: 900px) {
	
	#benefits .one-of-three {
		width: 100%;
	}
	#benefits .one-of-three h3 {
		margin: 0;
	}
	#benefits p {
		margin-bottom: 70%;
	}
	
}
@media only screen and (max-width: 600px) {
	
	#benefits img 
		display: none;
}
@media only screen and (max-width: 1250px) {
	
	#stats .one-of-four {
		width: 100%;
		margin-bottom: 60px;
		}
		
}
@media only screen and (max-width: 550px) {
	
	#stats p {
		font-size: 65px;
	}
		
}

/*--PRICING--*/
@media only screen and (max-width: 1550px) {
	
	#pricing ul {
		padding: 0 25px;
		width: 275px;
	}
}
@media only screen and (max-width: 1250px) {
	
	#pricing ul {
		width: 220px;
	}
}
@media only screen and (max-width: 1100px) {
	
	#pricing .one-of-three {
		width: 100%;
		margin-bottom: 40px;
	}
}
@media only screen and (max-width: 370px) {
	
	#pricing ul {
		width: 200px;
	}
}

/*--TEAM--*/
@media only screen and (max-width: 1440px) {
	
	#team img {
		width: 80%;
	}
}
@media only screen and (max-width: 850px) {
	
	#team .one-of-three {
		width: 100%;
		margin-bottom: 50px;
	}
	#team img {
		width: 50%;
	}
}
@media only screen and (max-width: 550px) {
	
	#team img {
		width: 50%;
	}
}
/*--REQUEST--*/
@media only screen and (max-width: 700px) {
	
	#request .one-of-three, #request .two-of-three {
		width: 100%;
		text-align: center;
	}
	#request input[type="text"] {
		margin: 0 auto;
		width: 80%;
	}
}
/*--FOOTER--*/
@media only screen and (max-width: 1150px) {
	
	#footer .three-of-four, #footer .one-of-four {
		width: 100%;
	}
	#footer li {
		float: none;
		display: inline-block;
	}
	#footer ul {
		text-align: center;
		margin-bottom: 15px;
	}
}