/*--APPLIES TO ALL / REUSABLE--*/

* {
	margin: 0;
	padding: 0;
}



/*--HEADER ITEMS(BOILERPLATE)-*/

#header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/img/city1.jpg);
	position: relative;
	height: 100vh;
	background-size: cover;
	background-position: center;
	color: white;
}

#header .dots {
	background-image: url(../img/img/pattern-bg.png);
	height: 100%;
}

#header nav {
	position: relative;
}

#header nav ul {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(0, -50%);
	list-style: none;
}

#header nav li {
	float: left;
	margin: 0 15px;
}

#header nav img {
	width: 200px;
}

#header nav a {
	color: white;
	text-decoration: none;
}

#header .text {
	
	width: 600px;
	height: 250px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 50px;
	color: white;
	
}

#header .text1 {
	
	width: 600px;
	height: 50px;
	position: absolute;
	left: 50%;
	top: 51%;
	transform: translate(-50%, 0%);
	font-size: 30px;
	color: white;
}

#header .learn-more {
	
	width: 150px;
	height: 50px;
	position: relative;
	left: 29%;
	top: -40%;
	border: 2px solid white;
	
	
}


#header .txt2 {
	/*Centering the text*/
	font-size: 25px;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
}

#header .ride-now {
	
	width: 150px;
	height: 50px;
	position: relative;
	left: 43%;
	top: -46.5%;
	border: 2px solid white;
	
}

#header .ride-txt {
	/*Centering the text*/
	font-size: 25px;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
}






/*--BENEFITS PAGE--*/


#benefits .easy {
	width: 100vw;
	height: 75px;
	text-align: center;
	position: relative;
	top: 50px;
	font-size: 50px;
	color: black;
	
}

#benefits .line {
	width: 100vw;
	height: 50px;
	text-align: center;
	position: relative;
	top: 50px;
	font-size: 50px;
	color: lightgray;
}


#benefits .phone {
	position: absolute;
	background-image: url(../img/img/iphone-demo.png);
	background-position: center;
	background-size: cover;
	width: 350px;
	height: 750px;
	left: 20%;
	top: 125%;

	
}

